<h1>TODO_app</h1>

<div class="button-container">
  <%= link_to "add_task", new_todo_path, class: "link-button" %>
</div>

<ul>
  <% @todos.each do |todo| %>
  <li>
    <h2><%= todo.title %></h2>
    <span>
      <small><%= todo.created_at %></small>
    </span>
    <div class="edit-delete-wrapper">
      <%= link_to "edit", edit_todo_path(todo), class: "link-button" %> 
      <%= button_to "delete", todo_path(todo), method: :delete, class: "link-delete-button" %>
    </div>
  </li>
  <% end %>
</ul>